<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="gridWrap">
    <div id="content">
        <table id="games">
            <tr>
                <th class="firstColumn">{{ games.header[0] }}</th>
                <th class="description">{{ games.header[1] }}</th>
            </tr>
            <tr v-for="row in games.content">
                <td class="firstColumn"> <a v-bind:href="row.link"> {{row.name}} </a> </td>
                <td class="description">{{row.description}}</td>
            </tr>
        </table><br/>
        <table id="miscellaneous">
            <tr>
                <th class="firstColumn">{{ other.header[0] }}</th>
                <th class="description">{{ other.header[1] }}</th>
            </tr>
            <tr v-for="row in other.content">
                <td class="firstColumn"> <a v-bind:href="row.link" > {{row.name}} </a> </td>
                <td class="description">{{row.description}}</td>
            </tr>
        </table>
    </div>

    <div id="footer">
        <hr noshade="noshade" size="1">
        <a href="https://github.com/AndreasAskjem" style="padding:20px">My GitHub</a>
    </div>
</div>

<script src="script.js"></script>

<script>
let gridWrap = new Vue({
    el: "#gridWrap",
    data: {
        games: games,
        other: miscellaneous
    }
})
</script>

</body>
</html>
