#gridWrap{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 'left middle right';
}

#left{
    grid-area: left;
}
#middle{
    grid-area: middle;
}
#right{
    grid-area: right;
}



#things, #things th, #things tr, #things td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 7px;
    height: 50px;
    text-align: center;
}

th{
    font-size: 18px;
}

.firstColumn{
    width: 140px;
}

.description{
    max-width: 270px;
    min-width: 200px;
}